.menu-button {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;

    margin-left: 5.29%;
    padding: 0;

    cursor: pointer;

    border: none;
    background: none;
}

.menu-button__icon {
    width: 22px;
    height: 16px;

    color: var(--color-dark-blue);
}

@media (max-width: 855.5px) {
    .menu-button {
        margin-left: 0;
    }
}
