
.footer{
    padding-top: 22px;
    padding-bottom: 10px;

    background-color: var(--color-white);
}

.footer__container{
    display: flex;
}




@media (max-width: 855.5px){
    .footer__container{
        align-items: center;
        flex-direction: column;

        gap: 13px;
    }
}
